@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --color--light-orange: hsl(0deg 0% 93%);  
    --color-orange: hsl(26deg 100% 55%);
    --color-pale-orange: hsl(25deg 100% 94%);
    --color-very-dark-blue: hsl(220deg 13% 13%);
    --color-dark-grayish-blue: hsl(219deg 9% 45%);
    --color-grayish-blue: hsl(220deg 14% 75%);
    --color-light-grayish-blue: hsl(223deg 64% 98%);
    --color-white: hsl(0deg 0% 100%);
    --color-black: hsl(0deg 0% 0%);
    --color-black-opacity: hsl(0deg 0% 0% / 75%);
    --color-grey-950: hsl(216deg 12% 8%);
    --color-blue: hsl(228deg 45% 44%);
    --color-greyish: hsl(229, 27%, 92%);
}

* {
  box-sizing: border-box;
}

body,
button,
h1,
h2,
h3,
p,
span,
a, 
hr, 
ul,
li, 
img {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.main__container {
  display: flex;
  flex-direction: column;  
  min-width: 320px;
  background-color: var(--color-white);
}

.navigation__panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.2rem 1.55rem;
  padding-inline: 1.5rem 1.5rem;
}

.navigation__panel-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navigation__panel-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}

.menu__button {  
}

.menu__button-img {
  width: 1rem;
  height: 0.9rem;  
}

.menu__list {
  display: none;
  position: absolute;
  flex-direction: column; 
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-black-opacity);
}

.menu__list.open {
  display: flex;
}

.menu__list-content { 
  height: 100vh;
  width: 15.6rem;
  padding-block-start: 1.5rem;
  padding-inline-start: 1.55rem;
  background-color: var(--color-white);
}

.close__button {  
}

.close__button-img {  
}

.cart__button {  
}

.cart__button-img {
}

.menu__list-items {    
  list-style-type: none;  
  padding-block-start: 2.2rem;
}

.menu__lnk {
  
}

.menu__link {
  display: block;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  padding-block: 0.78rem;
  letter-spacing: 0.02rem;
}

.menu_list-logo {
  height: 1.25rem;
  width: auto;
}

.cart__quantity-badge {
}

.avatar__button {
  
}

.avatar__button-img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.product__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  min-width: 320px;
  height: auto;
}

.image__container {
}

.main__image {
  display: block;
  height: 18.75rem;
  margin: 0 auto;
}

.main__image-img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.thumbnails__container {
  display: none;
}

.thumbnail__image {
  
}



.product__info {
  background-color: coral;
}

.product__info-container {}
.product__info {}
.product__info-company {}
.product__info-name {}
.product__info-description {}
.product__price {}
.product__price-unit {}
.product__price-discount {}
.product__price-original {}
.quantity__control {}
.decrement__button {}
.decrement__button-img {}
.quantity {}
.increment__button {}
.increment__button-img {}
.add__button {}
.add__button-img {}
.add__to-cart {}

.cart__container {}
.cart__container-title {}
.cart__content {}
.empty__cart {}
.empty__cart-text {}
.product__list {}
.product__list-item {}
.cart__product-image {}
.product__list-info {}
.cart__product-name {}
.cart__product-price {}
.cart__product-price-unit {}
.cart__product-price-multiple {}
.cart__product-price-quantity {}
.cart__product-price-total {}
.cart__product-delete {}
.checkout__button {}




/* FOOTER DEFINITION */
.attribution {
  padding-block-start: 0.5rem;
  font-size: 0.6875rem;
  text-align: center;
  color: var(--color-grey-500);
}

.attribution-link {
  color: var(--color-blue);
}

/* Desktop version */
@media (width >= 64rem) {
  .main__container {
    max-width: 1440px;
    height: 900px;
  }

  .menu__button, .close__button {
    display: none;
  }

  .navigation__panel {
    justify-content: flex-start;
    margin-inline-start: 10.3rem;
    margin-inline-end: 10.3rem;
    padding-block: 1.75rem 2.1rem;
    padding-inline: 0rem;
    border-bottom: 1px solid red;
  }

  .menu__list {  
    display: flex; 
    position: static;
    height: auto;
    width: auto;
  } 

  .menu_list-logo {
  }

  .menu__list-content {
    height: auto;
    width: auto;
    padding-inline-start: 2.45rem;
    padding-block: 0;
  }

  .menu__list-items {    
    list-style-type: none;
    padding: 0;  
  }

  .menu__lnk {    
    float: left;    
  }

  .menu__link {
    display: block;
    font-size: 0.92rem;
    font-weight: 400;
    padding-block: 0;
    padding-inline: 1.02rem;
  }

  .navigation__panel-cart {
    margin-inline-start: auto;
    gap: 2.8rem;
  }

  .avatar__button-img {
    width: 3.15rem;
    height: 3.15rem;
  }

  .product__container {
    flex-direction: row;
    align-items: stretch;
    padding-block-start: 5.6rem;
    padding-inline-start: 13.3rem;    
    padding-inline-end: 13.3rem;
    height: 100vh;
  }  

  .image__container, .product__info {
    flex: 1 1 50%;
    width: 50%;
  }

  .main__image {
    margin: 0;
    width: 27.9rem;
    height: 27.9rem;        
  }

  .main__image-img {
    border-radius: 1rem;
  }

  .thumbnails__container {
    display: flex;
    margin-block-start: 2rem;
    padding: 0;
    gap: 1.8rem;
    width: 27.9rem;
  }

  .thumbnail__image {    
    display: block;
    width: 100%;    
  }

  .thumbnail__image img {  
    width: 5.5rem;
    height: 5.5rem;    
    border-radius: 0.6rem;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .thumbnail--active {
    outline: 2px solid var(--color-orange);
    opacity: 0.5;;
  }

   
}